
HoneySpotService(Unix)/.vs/VSWorkspaceState.json
HoneySpotService(Unix)/.vs/slnx.sqlite
HoneySpotService(Unix)/.vs/HoneySpotService(Unix)/v16/.suo
HoneySpotService(Unix)/.vs/slnx.sqlite
HoneySpotService(Unix)/.vs/HoneySpotService(Unix)/v16/.suo
HoneySpotService(Unix)/.vs/HoneySpotService(Unix)/v16/.suo
HoneySpotService(Unix)/.vs/slnx.sqlite
